{# taxon/_collection.html.twig #}

{% block _taxon_mainImage_widget %}
	<div class="form-group">
		<div class="row">
			<div class="col-md-5">
				{{ form_widget(form.url) }}
			</div>
			<div class="col-md-5">
				{{ form_widget(form.uploadedImageFile)}}
			</div>
			<div class="col-md-2">
				<img id="main-image-feedback" width="80 px" src="#" alt="">
			</div>
		</div>
		<div class="row col-md-12 mt-2">
			{{ form_widget(form.caption) }}
		</div>
	</div>

{% endblock %}


{% block _taxon_images_widget %}
	<h2>Ajout d'illustration(s)</h2>

	{{ form_widget( form ) }}
	<input type="hidden" id="widgets-counter" value="0">

	<div class="form-group">
		<button type="button" id="add-image" class="btn btn-primary">Ajouter</button>
	</div>
{% endblock %}

{% block _taxon_images_entry_row %}
	{{ form_widget(form) }}
{% endblock %}

{% block _taxon_images_entry_widget %}
	<div class="form-group" id="block_{{id}}">
		<div class="row">
			<div class="col-md-6">
				{{ form_widget(form.url) }}
				{{ form_errors(form.url) }}
			</div>
			<div class="col-md-6">
				{{ form_widget(form.uploadedImageFile)}}
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 mt-1">
				{{ form_widget(form.caption) }}
				{{ form_errors(form.caption) }}
			</div>
			<div class="col-md-2">
				<button type="button" data-action="delete" data-target="#block_{{id}}" class="btn btn-danger">X</button>
			</div>
		</div>

			{# <div class="col-10">
				<div class="row">
					<div class="col">
						{{ form_widget(form.url) }}
						{{ form_errors(form.url) }}
					</div>
					<div class="col">
						{{ form_widget(form.caption) }}
						{{ form_errors(form.caption) }}
					</div>
				</div>
			</div>
			<div class="col-2">
				<button type="button" data-action="delete" data-target="#block_{{id}}" class="btn btn-danger">X</button>
			</div> #}

	</div>
{% endblock %}

