{% extends 'base.html.twig' %}

{% form_theme form 'taxon/_collection.html.twig' %}

{% block title %}Modification d'une entrée{% endblock %}

{% block body %}
<div class="container">
    <h1>Modification de l'entrée : {{taxon.commonName}}</h1>

    {{ include('taxon/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('taxon_index') }}">retour à la liste</a>

    {{ include('taxon/_delete_form.html.twig') }}
</div>
{% endblock %}

{% block javascripts %}

{{ encore_entry_script_tags('taxon') }}

{% endblock %}


