{% extends 'base.html.twig' %}

{% block title %}La liste des taxons référencés{% endblock %}

{% block body %}
<div class="container">
	<h1 class="my-3 text-center">Les taxons référencés</h1>
	<div class="row">

		{% for taxon in taxons %}
		<div class="card taxon-card mb-3">
			<div class="card-body px-1">
				<p class="card-title text-center">
					{{ taxon.commonName }}
				</p>
				<p class="card-text">
					<a href="{{ path('taxon_show', { 'slug' : taxon.slug }) }}">
						<img  class="mx-auto d-block" src="{{ taxon.mainImage.url }}" alt="{{taxon.commonName}}" style="width: 90px; display: block;">
					</a>
				</p>
			</div>
		</div>
		{% endfor %}

		{# <div class="col-md-3"></div>
		<div class="col-md-6">
			<table class="table">
				<thead>
					<tr>
						<th><a href="{{path('taxon_index',{sortBy: 'CommonName'})}}">Nom commun</a></th>
						<th></th>
						<th><a href="{{path('taxon_index',{sortBy: 'Family'})}}">Famille</a></th>
						<th><a href="{{path('taxon_index',{sortBy: 'GenericName'})}}">Genre</a></th>
					</tr>
				</thead>
				<tbody>
					{% for taxon in taxons %}
					{% set url = path('taxon_show', {'slug': taxon.slug}) %}
						<tr>
							<td>
								<a href="{{url}}">{{taxon.commonName}}</a>
							</td>
					
							<td>
								<img src="{{ taxon.mainImage.url }}" alt="{{taxon.commonName}}" style="width: 70px; display: block;">
							</td>
							<td>{{taxon.family}}</td>
							<td>{{taxon.genericName}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>			
		</div> #}

		{# {% for taxon in taxons %}
		{% set url = path('taxon_show', {'slug': taxon.slug}) %}

		<div class="col-md-4">
			<div class="card bg-light mb-3">
				<div class="card-header text-center">
					{{taxon.commonName}} <br>
					<em>{{taxon.genericName}} {{taxon.specificName}}</em>
				</div>
				<a href="{{ url }}">
					<img src="{{taxon.coverImageName}}" alt="Flore mellifère" style="width: 100%; display: block;">
				</a>

				<div class="card-body">
					<h3 class="card-title">
						{{taxon.introduction}}
					</h3>
					<a href="{{ url }}" class="btn btn-secondary">En savoir plus</a>
				</div>
			</div>
		</div>
		{% endfor %} #}
	</div>

</div>
{% endblock %}
